/* VARIABLES */

:root {
  --standard-font-color: rgb(244, 157, 26);
}

* {
  box-sizing: border-box;
}

/* BODY PROPERTIES */

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  background-color: #FFF8BC;
}

.label {
  font-size: 24px;
  padding-left: 20px;
}

/* NAVIGATION MENU */

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 60;
}

header {
  display: flex;
  justify-content: flex-start;
  background-color: #434242;
  padding: 20px;
  font-size: 24px;
}

.name {
  float: left;
  padding: 10px;
  font-size: 60px;
  color: #F49D1A;
}

header nav {
  float: right;
  padding-top: 10px;
}

header nav li{
  float: left;
  list-style-type: none;
  margin:  20px;
}

/* BANNER PROPERTIES */

.container-2 {
  position: relative;
  font-size: 2.5em;
  color: var(--standard-font-color);
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.banner {
  width: 100%;
}

.span-2 {
  color: #FFE15D;
}

.span-1 {
  color: #820000;
}

.span-1:hover {
  color: #FFE15D;
}

.span-2:hover {
  color: #820000;
}

/* LINK PROPERTIES */

a {
  text-decoration: none;
  color: var(--standard-font-color);
}

a:visited {
  color: var(--standard-font-color);
}

a:hover {
  text-decoration: underline;
  color: #820000;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* MAIN LAYOUT */

#main-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 200px 500px 200px 200px 200px 200px;
  grid-template-areas: 
  "about-label about-bio about-bio"
  "work-label script script"
  "work-label script script"
  "work-label blockchain vat"
  "work-label blog github"
  "contact-label contact contact";
  margin: 40px;
}

#about-label {
  grid-area: about-label;
  color: var(--standard-font-color);
  border-right: 3px solid #F49D1A;
}

#about-bio {
  grid-area: about-bio;
}

.bio-pic {
  grid-area: about-bio;
  float: left;
  max-height: 180px;
  padding: 10px;
  margin-top: 10px;
}

#work-label {
  grid-area: work-label;
  color: var(--standard-font-color);
  border-right: 3px solid #F49D1A;
}

#script {
  grid-area: script;
  background-image: url("../images/script.jpg");
}

#blockchain {
  grid-area: blockchain;
  background-image: url("../images/blockchain.jpg");
}

#vat {
  grid-area: vat;
  background-image: url("../images/vat.jpg");
}

#blog {
  grid-area: blog;
  background-image: url("../images/blog.jpg");
}

#github {
  grid-area: github;
  background-image: url("../images/github.jpg");
}

#contact-label {
  grid-area: contact-label;
  color: var(--standard-font-color);
  border-right: 3px solid #F49D1A;
}

#contact {
  grid-area: contact;
}

.grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  float: left;
}

.link-label {
  background-color: rgba(244,157,26,0.7);
  padding: 15px;
  height: 50px;
  color: white;
  font-size: 18px;
}

.email {
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
}

.email:hover {
  text-decoration: underline;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

.label {
  font-size: 10px;
}

.link-label {
  font-size: 12px;
}

header nav {
  float: none;
  clear: left;
  width: 100%;
}

.bio {
  visibility: hidden;
}

header nav ul {
  margin: 0;
  padding: 0;
}

.name {
  margin: 0 auto;
  float: none;
}

header nav ul li {
  margin: 10px 5px;
  width: 20%;
  padding: 0;
  text-align: center;
}

}